spring-social-odnoklassniki/src/main/resources/org/springframework/social/odnoklassniki/config/xml/spring-social-odnoklassniki-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:odnoklassniki="http://www.springframework.org/schema/social/odnoklassniki"
	targetNamespace="http://www.springframework.org/schema/social/odnoklassniki">

	<xs:element name="config">
		<xs:complexType>
			<xs:attribute name="app-id" use="required" type="xs:string" />
			<xs:attribute name="app-secret" use="required" type="xs:string" />
			<xs:attribute name="app-key" use="required" type="xs:string" />
			<xs:attribute name="authentication-service-class" use="optional" type="xs:string" />
		</xs:complexType>
	</xs:element>

</xs:schema>